::-webkit-scrollbar{width:1px}
::-webkit-scrollbar-track{background:#323336}
::-webkit-scrollbar-thumb{background:#323336}
::-webkit-scrollbar-thumb:hover{background:#323336}
.collapsible{background-color:#eee;color:#444;cursor:pointer;padding:18px;width:100%;border:none;text-align:left;outline:0;font-size:15px}
.active,.collapsible:hover{background-color:#ccc}
.content{padding:0 18px;display:none;overflow:hidden;background-color:#f1f1f1} 
.slide-menu-header{border:10px solid !important;}
